@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .title {
        @apply text-7xl font-bold m-8 text-accent dark:text-secondary;
    }

    .text {
        @apply text-text dark:text-primary text-3xl mx-32;
    }

    .toolbar {
        @apply fixed bottom-0 left-0 w-screen px-8 flex justify-between pb-1 text-text dark:text-primary;
    }

    .slide {
        @apply h-screen w-screen text-center flex flex-col justify-center bg-background dark:bg-stone-800;
    }

    .code {
        @apply rounded w-fit mx-auto bg-code p-4 text-white border-border border-2;
    }

    .progress-bar {
        @apply fixed bottom-0 left-0 w-0 h-2 transition-all duration-500 ease-in-out bg-primary dark:bg-primary;
    }

    .image {
        @apply w-fit mx-auto;
    }

    .deck.mosaic-view {
        @apply bg-secondary dark:bg-stone-600
        grid-cols-2 grid-rows-2 grid gap-4 p-4;
    }

    .slide.mosaic-slide {
        @apply cursor-pointer w-[50%];
    }
}

@font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@layer base {
    html {
        @apply font-sans bg-background dark:bg-stone-900 text-text dark:text-primary;
    }
}